# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.venv/
venv/
.env
.env.*
!.env.example

# Node
node_modules/
.next/
.vercel/
*.tsbuildinfo
.expo/
.expo-shared/
dist/
web-build/
out/

# OS/Editor
.DS_Store
.idea/
.vscode/
